<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body class="my-3 text-center">
    
    {% block content %}
    <h1>Home</h1>
    <h2>Enter an integer value</h2>
    <form action="/calculate" method="POST">
        <div class="row justify-content-center align-items-center my-4">

            <div class="col-auto">
                <label class="form-label" for="number">Enter an integer:</label>
            </div>

            <div class="col-auto">
                <input class="form-control" type="text" name="number" id="number" placeholder="e.g. 10">
            </div>

            <div class="col-auto">
                <input class="btn btn-primary" type="submit" value="submit">
            </div>

        </div>
    </form>
    {% endblock %}

</body>
</html>
